/* ==== Estilos globais ==== */

/* Define a fonte padrão do site e remove margens do body, além de definir a cor de fundo */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #191919;
}

/* Remove sublinhado padrão de links */
a {
    text-decoration: none;
}

/* Adiciona cursor de ponteiro a todos os botões para indicar clicável */
button {
    cursor: pointer;
}

/* ==== Variáveis de cores ==== */
/* Definem cores padrão para facilitar alterações globais no site */
:root {
    --cor-principal: #fff297; /* cor principal do site (ex.: botões e destaques) */
    --cor-fundo: #191919;     /* cor de fundo geral */
    --cor-caixa: #272727;     /* cor de caixas, cartões e elementos secundários */
}
