/* Estilos globais */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #191919;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Cores e padrões */
:root {
    --cor-principal: #fff297;
    --cor-fundo: #191919;
    --cor-caixa: #272727;
}
